venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
db.sqlite3

.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

android/.gradle/
android/local.properties
android/**/build/
android/key.properties
*.jks
*.keystore

mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Debug.xcconfig
mobile/ios/Flutter/Release.xcconfig
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/Warning.xcconfig
mobile/ios/Flutter/ephemeral/
mobile/ios/Runner.xcworkspace/

mobile/macos/Flutter/ephemeral/
mobile/macos/Runner/Configs/Warnings.xcconfig

web/.dart_tool/
web/build/

windows/flutter/
windows/build/
linux/flutter/
linux/build/
macos/Flutter/ephemeral/
macos/build/

.idea/
.vscode/
*.iml

*.log
.DS_Store
*~
*.swp
*.swo
mobile/.metadata